:root {
  --color-primary: #1739d1;
  --color-secondary: #868686;
  --color-border: #ccc;
  --border-radius: 8px;
}

@media print {
  header, footer {
    display: none;
  }

  main {
    width: calc(100% - 13px * 2) !important; 
    border: none !important;
  }
}

.raw {
  border: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main, header, footer {
  --max-width: ;

  width: min(960px, 100% - 13px * 2);
  margin-inline: auto;
  margin-block: 8px 12px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 8px 12px;
}

header, footer {
  text-align: center;
}

nav ul {
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
}

hr {
  border: none;
  width: 80%;
  margin-inline: auto;
  border-top: 1px solid var(--color-border);
}

input[type="text"], textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  resize: vertical;
  border-radius: var(--border-radius);
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  border-color: var(--color-primary);
}

button {
  display: block;
  padding: 7px 18px;
  background: var(--color-primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: opacity 0.10s ease;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-inline: auto;
  min-width: 250px;
}

button:hover {
  opacity: 0.85;
}

button:active {
  opacity: 0.7;
}

@keyframes breathe {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.loading {
  animation: breathe 1s ease-in-out infinite;
}